.info{
    display: flex!important;
    gap: 10px;
    align-items: center;
}
.info img{
    width: 400px;
    height: 400px;
}
.texto{
    display: flex;
    flex-direction: column;
}
.boxModal{
    width: auto!important;
}
#name{
    border-bottom: 2px solid red;
}
.cardButton{
    color: red!important;
    background-color: white!important;
    border:1px solid red!important;
}
.cardButton:hover{
    color:white!important;
    background-color: #db2529!important;
    font-weight: bold;
}
.cardButtonInverted:hover{
    color: red!important;
    background-color: white!important;
    border:1px solid red!important;
}
.cardButtonInverted{
    color:white!important;
    background-color: #db2529!important;
    font-weight: bold;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
ul > p{
    font-weight: bold;
}

